[submodule "index-builder/router"]
	path = index-builder/router
	url = https://github.com/vuejs/router.git
[submodule "index-builder/vuejs"]
	path = index-builder/vuejs
	url = https://github.com/vuejs/docs.git
[submodule "index-builder/pinia"]
	path = index-builder/pinia
	url = https://github.com/vuejs/pinia.git
