PB_ENCRYPTION_KEY="randomly-generated-secret"
UMAMI_APP_SECRET="randomly-generated-secret"
UMAMI_POSTGRES_DB="vue-ai-tools-umami"
UMAMI_POSTGRES_USER="vue-ai-tools-umami"
UMAMI_POSTGRES_PASSWORD="randomly-generated-secret"

APP_ENV="production"
APP_NAME="vue-ai-tools"
REPO_URL="https://github.com/chris-paganon/vue-ai-tools/archive/refs/heads/"
REPO_BRANCH="master"